[submodule "drivers/ninja-hue"]
	path = drivers/ninja-hue
	url = https://github.com/thatguydan/ninja-hue.git
[submodule "drivers/ninja-arduino"]
	path = drivers/ninja-arduino
	url = https://github.com/ninjablocks/ninja-arduino.git
[submodule "drivers/ninja-hue2"]
	path = drivers/ninja-hue2
	url = https://github.com/elliots/ninja-hue2.git
[submodule "drivers/ninja-lifx"]
	path = drivers/ninja-lifx
	url = https://github.com/elliots/ninja-lifx.git
[submodule "drivers/ninja-xbmc"]
	path = drivers/ninja-xbmc
	url = https://github.com/elliots/ninja-xbmc.git
