[submodule "drivers/ninja-hue"]
	path = drivers/ninja-hue
	url = https://github.com/thatguydan/ninja-hue.git
[submodule "drivers/ninja-wemo"]
	path = drivers/ninja-wemo
	url = https://github.com/thatguydan/ninja-wemo.git
[submodule "drivers/ninja-ipcam"]
	path = drivers/ninja-ipcam
	url = https://github.com/ninjablocks/ninja-ipcam.git
[submodule "drivers/ninja-limitlessLED"]
	path = drivers/ninja-limitlessLED
	url = https://github.com/jzGreen/ninja-limitlessLED.git
